/scraping_scripts/fantasy_header_scrape_debugging.py
/scraping_scripts/fantasy_headers_scrape.csv
/scraping_scripts/fantasy_headers_scrape_b.csv
/scraping_scripts/fantasy_headers_scrape_formulas.csv
/scraping_scripts/fantasy_headers_scrape_variables.csv
/scraping_scripts/header_scrape_error_log2.txt
/scraping_scripts/linksuff.txt
/scraping_scripts/linksuff_a_fantasy.txt
/scraping_scripts/linksuff_b_fantasy.txt
/scraping_scripts/linksuff_completed.txt
/data_files/fantasy_group1.csv
/data_files/fantasy_group2.csv
/data_files/fantasy_group3.csv
/data_files/fantasy_group4.csv
/data_files/fantasy_group5.csv
/data_files/fantasy_group6.csv
/data_files/fantasy_group7.csv
/data_files/fantasy_group8.csv
/data_files/fantasy_group9.csv
/data_files/pfref_combine_a.csv
/data_files/pfref_data_final.csv
/data_files/pfref_fantasy_ts_a.csv
/data_files/proxies_info.txt
/venv/
/venv/bin
/venv/lib
/venv/pyvenv.cfg
/data_files/fantasy_extended.csv
/data_files/protocol.md
/scraping_scripts/successful_proxies.txt
